# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LaJamDuLundi1.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\1 - Unity Current Projects\0 - Githubed\LaJamDuLundi1\.idea\.idea.LaJamDuLundi1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
